# Dependencies
node_modules/
**/node_modules/
vendor/
**/vendor/

# Next.js build output
.next/
**/out/
**/build/
**/dist/

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env

# Laravel storage & runtime
backend-laravel/storage/*.key
backend-laravel/storage/app/public/*
!backend-laravel/storage/app/public/.gitkeep
backend-laravel/storage/framework/cache/data/*
!backend-laravel/storage/framework/cache/data/.gitkeep
backend-laravel/storage/framework/sessions/*
!backend-laravel/storage/framework/sessions/.gitkeep
backend-laravel/storage/framework/testing/*
!backend-laravel/storage/framework/testing/.gitkeep
backend-laravel/storage/framework/views/*
!backend-laravel/storage/framework/views/.gitkeep
backend-laravel/storage/logs/*
!backend-laravel/storage/logs/.gitkeep
backend-laravel/bootstrap/cache/*.php

# Databases & Cache
*.sqlite
*.sqlite-journal
*.db

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
*.log
